.top3Container {
    flex:0.82;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 36, 56);
    border: 1px solid rgb(229, 234, 242);
    border-radius: 8px;


    .top3Title {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        color: #94a4c4;
      padding-bottom: 20px;   
    }
    .itemTop3{
        display: flex;
        flex: 1;
        align-items: center;
        .left,.right {
            display: flex;
            flex-direction: column;  
        .imgTop3{
            display: flex;
            flex-direction: column;
            width: 85px;
            height:85px;
            padding-left: 15px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .item3Title{
            line-height: 2;
            color: #606060;
            font-size: 15px;
            font-weight: 600;
        }
    }
}
  }