.navbar {
    height: 50px;
    border: 0.5px solid rgb(230, 227, 227);
    display: flex;
    background-color: white;
    align-items: center;
   
  
  
    .wrapper {
      width: 100%;
      padding: 20px;
      display: flex;
     // align-items: center;
      flex: 100%;
     // justify-content: space-evenly;
  
  
      
  
      .s1 {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
        .logo {
          font-size: 25px;
          font-weight: bold;
          color: #091F5B;
          font-family: 'Anton', sans-serif;    
          padding-top: 10px; 
          margin-left: 10px;
        }
      } 
      
  
      .search {
        display: flex;
        align-items: center;
        border: 0.5px solid white;
        padding: 3px;
        width:25%;
        margin-left: 4%;
      
  
        input {
          border: none;
          outline: none;
          background: transparent;
          width: 75%;
  
          &::placeholder {
            font-size: 12px;
          }
        }
      }
  
      .items {
        display: flex;
        margin-left: 9%;
        .item {
          display: flex;
          align-items: center;
          margin-left: 10px;
          position: relative;
  
          .icon {
            font-size: 25px;
          }
  
          .avatar {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-top: 7px;
          }
  
          .counter {
            width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            top: -3.5px;
            right: -3.5px;
          }
        }
      }
    }
  }
  
  .menu{
      padding: 5px;
      .m1{
        font-size: 20px;
        color: #000000;
        cursor: pointer;
        padding: 10px;
        
      &:hover {
        background-color: #FFF4EE;
        span{color: #DC272F;
        }
      }
    }
  }
  
  
  
  
  